[submodule "vendor/engines/cooking"]
	path = vendor/engines/cooking
	url = git@github.com:lnthai2002/cooking.git
[submodule "vendor/engines/financial"]
	path = vendor/engines/financial
	url = git@github.com:lnthai2002/financial.git
