<h1>Listing recipes</h1>
<%= link_to 'Create New Recipe', new_recipe_path %>

<hr />
<table>
<% @recipes.each do |recipe| %>
  <tr>
  	<th><%=recipe.name%></th>
    <td><%= link_to 'Show', recipe %> | <%= link_to 'Destroy', recipe, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

