-@recipes.each do |recipe|
  %div.recipe
    = link_to recipe.name, recipe
    %br
    = link_to image_tag(recipe.image_url(:thumb).to_s), recipe
    %br
    = truncate(recipe.description, :length=>20)
    = link_to image_tag('delete.png'), recipe, confirm: 'Are you sure?', method: :delete