<table>
  <tr>
  	<th>Description</th>
	<th>&nbsp;</th>
  </tr>
<% @exp_types.each do |e| %>
  <tr>
  	<td><%= e.description %></td>
    <td><%= link_to 'Show', e %> | <%= link_to 'Edit', edit_exp_type_path(e) %> | <%= link_to 'Destroy', e, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>