<% form_for(@exp_type) do |f| %>
  <%= f.error_messages %>
  <table>
	<tr>
  		<th align='left'><%=f.label :Description%></th>
		<td><%=f.text_field :description, :size=>30%></td>
  	</tr>
	<tr>
		<td colspan='2'>&nbsp;</td>
	</tr>
	<tr>
		<td colspan='2' align='right'><%= f.submit 'Create' %></td>
	</tr>
  </table>
<% end %>
