- @recipe.steps.each do |step|
  - if step.sequence_number
    %li{:id=>"recordid_#{step.id}"}
      = link_to 'Edit', edit_recipe_step_path(@recipe, step), :remote=>true
      |
      = link_to 'Remove', [@recipe, step], confirm: 'Are you sure?', method: :delete
      =step.description