<p id="notice"><%= notice %></p>
<%= link_to 'List', recipe_steps_path(@recipe) %> | <%= link_to 'Edit', edit_recipe_step_path(@recipe, @step) %>
<hr />

<div id='step'>
	<h2>Description</h2>
	<%= simple_format(@step.description) %>
</div>