/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require vendor
*/

div.navigation,.gap,.content{
	float: right;
	margin-right:10px; 
}

.navigation .current {color:orange; font-weight:bold; font-style:italic;}
.navigation .menuTitle {font-weight:bold;}
.navigation a {font-style:italic;}

.actionMenu .current {color:orange; font-weight:bold; font-style:italic;}
.actionMenu .menuTitle {font-weight:bold;}
.actionMenu a {font-style:italic;}
