//positioning application layout's main div'
html{
  font-size:100%;
}

body{
  position:absolute;
  width: 100%;
}
.navigation,.gap,.content{
  float:right;
  //margin-right:0%; 
}

.current {color:orange; font-weight:bold; font-style:italic;}
.navigation{
  .menuTitle {font-weight:bold;}
  a {font-style:italic;}  
}

.content{
  width: 100%;
  
  #footnote{
    float:bottom;
    font-weight:lighter;
    color:LightGray;
  }
  
  #usecases_nav,#resources_nav,#actions_nav{
    ul{padding: 0%; margin: 0.5em}
    li{display: inline;list-style-type: none;padding-right: 0.5em}
  }
  .odd {background-color:LightGray}
  .even{background-color:White}
}