//positioning application layout's main div'
body{
  position:absolute;
}
.navigation,.gap,.content{
  float:right;
  margin-right:10px; 
}

.navigation{
  .current {color:orange; font-weight:bold; font-style:italic;}
  .menuTitle {font-weight:bold;}
  a {font-style:italic;}  
}

.content{
  legend{color:orange; font-weight:bold}
  #footnote{
    float:bottom;
    font-weight:lighter;
    color:LightGray;
  }
  .recipe{
    //float:left;
    margin: 5px;
    width: 140px;
    length: 140px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
  .ingredient{
    float:left;
    margin: 5px;
    width: 300px;
    length: 300px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
  .step{
    float:left;
    margin: 5px;
    width: 300px;
    length: 300px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
}